body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  height: 500px;
  width: 500px;
  float: left;
}

.land {
  height: 10px;
  width: 10px;
  background: #D2691E;
  float: left;
}

.rock {
  height: 10px;
  width: 10px;
  background: #9C9284;
  float: left;
}

.hero {
  height: 10px;
  width: 10px;
  background: green;
  float: left;
}

.enemy1 {
  height: 10px;
  width: 10px;
  background: #808080;
  float: left;
}

.enemy2 {
  height: 10px;
  width: 10px;
  background: #606060;
  float: left;
}

.enemy3 {
  height: 10px;
  width: 10px;
  background: #404040;
  float: left;
}

.enemy4 {
  height: 10px;
  width: 10px;
  background: #282828;
  float: left;
}

.enemy5 {
  height: 10px;
  width: 10px;
  background: #101010;
  float: left;
}

.boss {
  height: 10px;
  width: 10px;
  background: purple;
  float: left;
}

.treasure {
  height: 10px;
  width: 10px;
  background: yellow;
  float: left;
}

.meds {
  height: 10px;
  width: 10px;
  background: blue;
  float: left;
}

.black {
  height: 10px;
  width: 10px;
  background: black;
  float: left;
}
