body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  height: 1000px;
  width: 1000px;
  float: left;
}

.land {
  height: 10px;
  width: 10px;
  background: green;
  float: left;
}

.rock {
  height: 10px;
  width: 10px;
  background: brown;
  float: left;
}
